.banner-bg {
  background-color: #295b66;
}

.dark-text {
  color: #295b66;
}

/* Button */
.globalbutton {
  padding: 0.9rem 1.8rem;
  border: 3px solid #295b66;
  cursor: pointer;
}

.globalbutton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #295b66;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1 !important;
}

.globalbutton:hover::before {
  transform: translateX(0);
  border: 3px solid #295b66;
}

.globalbutton:hover {
  color: #fff !important;
  border: 3px solid #295b66 !important;
}

/* Breadcrumb */
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff !important;
}

/* Progress */
.progress-line {
  width: 60px;
  height: 3px;
  border-radius: 2px;
}

.progress-circle {
  width: 40px;
  height: 40px;
}

@media (max-width: 950px) {
  .progress-line {
    width: 40px;
  }

  .progress-circle {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .progress-line {
    width: 40px;
  }

  .progress-circle {
    width: 30px;
    height: 30px;
  }
}

/* Overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.65);
}

.gear-wrapper:active .gear.g2 {
  position: relative;
  animation: none;
  transform: translateY(-100px);
  transition: 2s;
}

.gear-wrapper:active .gear.g1 {
  position: relative;
  animation: none;
  transform: translateX(-100px);
  transition: 2s;
}

.gear-wrapper:active .gear.g3 {
  position: relative;
  animation: none;
  transform: translateX(100px);
  transition: 2s;
}

.gear-wrapper:hover::before {
  width: 150px;
  transition: all 0.3s ease-in-out;
  right: 0;
}

.gear-wrapper::before {
  content: "";
  position: absolute;
  background: #fff;
  height: 10px;
  width: 60%;
  top: 80px;
  border-radius: 50%;
  filter: blur(15px);
}

.gear-wrapper {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
}

.gear {
  position: relative;
  width: 100%;
  height: 100%;
  animation: rotateGear 4s linear infinite;
}

.g1 {
  position: relative;
  left: 22px;
}

.g2 {
  position: relative;
  top: -85px;
  animation: rotateGear 4s linear infinite reverse;
  transition: 4s;
}

.g3 {
  position: relative;
  right: 22px;
}

.gear-wrapper:hover .g1,
.gear-wrapper:hover .g3 {
  animation: rotateGear 0.8s linear infinite;
  filter: drop-shadow(1px 1px 2px #fff);
}

.gear-wrapper:hover .g2 {
  animation: rotateGear 0.8s linear infinite reverse;
  filter: drop-shadow(1px 1px 2px #fff);
}

@keyframes rotateGear {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SPARKLES */
.spark {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

/* .gear-wrapper .spark,
.gear-wrapper:active .spark,
.gear-wrapper:hover:active .spark {
  opacity: 0;
  left: 0;
  animation: none;
} */

.gear-wrapper .spark {
  opacity: 1;
  animation: sparkLeft 0.4s ease-out forwards infinite;
}

.gear-wrapper .spark:nth-child(1) {
  top: 0%;
  left: 50%;
}

.gear-wrapper .spark:nth-child(2) {
  top: 20%;
  left: 50%;
}

.gear-wrapper .spark:nth-child(3) {
  top: 35%;
  left: 50%;
}

@keyframes sparkLeft {
  0% {
    transform: translate(0, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-100px, -50%) scale(0.5);
    opacity: 0;
  }
}
